.postScroll {
  margin: 0 auto;
  height: 100vh;
  width: 500px;
  max-width: 90%;
}

.postScroll form {
  display: flex;
  flex-direction: columm;
}

.postScroll textarea {
  background: rgba(0, 0, 0, 0.05);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid black;
  color: #eee;
  outline: none;
  width: inherit;
  min-height: 100px;
  /* z-index: 1; */
  /* opacity: 0; */
  /* position: absolute; */
}

#postButton {
  z-index: 1;
  background: none;
  border: none;
  align-self: flex-end;
}

.inputDisplay {
  width: 100%;
  height: 100%;
}

.post {
  color: white;
  padding: 20px;
  min-height: 20px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
}
.post .content {
  flex: 1;
}

.marginY {
  margin: 10px 0;
}

.postIconButton {
  background: none;
  font-size: 32px;
  padding: none;
  border: none;
  box-shadow: none;
}
