#alert {
  width: 100%;
  display: flex;
  justify-content: center;
}

.alertBox {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 25px;
  max-width: 90%;
  word-break: break-all;
  -ms-word-break: break-all;
  margin: 0 auto;
  color: #333;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #eee;
  padding: 10px 20px;
  text-align: right;
  animation: mymove 0.2s;
  transition: opacity 1s;
}

@keyframes mymove {
  from {
    transform: scale(0.3);
    opacity: 0.5;
    bottom: 10px;
  }
  to {
    transform: scale(1);
    opacity: 1;
    bottom: 25px;
  }
}
