.App {
  display: flex;
  flex-direction: column;
  background: #282c34;
  height: 100vh;
  width: 100%;
}
.App > div {
  display: flex;
  align-self: center;
  justify-self: center;
  border: 1px dotted grey;
  height: 100%;
}

header {
  position: sticky;
  background: #282c34;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  padding: 20px 20px 0 20px;
  border-bottom: 1px dashed #111;
  color: #eee;
}

form {
  /* width: 300px; */
  display: flex;
  flex-direction: column;
}

.padding-10 {
  padding: 10px;
}

.margin-5 {
  margin: 5px;
}

.navButton {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  color: #999;
}
.navButton:hover {
  background: rgba(255, 255, 255, 0.05);
}
.navButton-active {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 1px grey;
  color: #fff;
}

header > div {
  display: flex;
  align-items: center;
  flex: 1;
}
