.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.padding-10 {
  padding: 10px;
}

.margin-5 {
  margin: 5px;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  padding: 20px 20px 0 20px;
  border-bottom: 1px dashed #111;
  color: #eee;
}

footer {
  bottom: 0;
}
.navButton {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  color: #999;
}
.navButton:hover {
  background: rgba(255, 255, 255, 0.05);
}
.navButton-active {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 1px grey;
  color: #fff;
}
